



/* Buttons */
.buttons button {
    background-color: #555555;
    border-radius: 12px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 10px;
}



.buttons button a:hover {
    color: white;
}.navbar {
    background: #007BFC;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 5%;
}
.adminsignform{
padding-top: 20%;

}

.container{
    position: center;
    
}